.squere {
    width: 200px;
    margin: 5px;
    padding: 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fbfafd;
    border: 1px solid #eeeef0;
}

.squere h2,
h3,
h4 {
    display: inline-block;
    text-align: center;
    margin: 0;
}